.container {
    width: 100%;
    height: 10%;
    background-color: aqua;
}

#header {
    width: 100%;
    height: 20%;
    background-color: black;
}

.menubar {
    width: 100%;
    height: 10%;
    background-color: white;
}